extends layout

block js
    script(src='/js/main.js')

block content
    div#content
        button#btnLed.btn.btn-primary(type="button") 
            span.glyphicon.glyphicon-certificate
            |  Prender
    
