extends layout

block js
    script(src='/js/voice.js')

block content
    div#listen
        div#btnListen(title='Escuchar')
            span.glyphicon.glyphicon-headphones
        h3
            | Escuchando...
        
        
        
